html
	head
		title= Homepage
		
	body
		#main
			h1 Main Menu

			br
			a(href=`/questions`) Browse Questions
			br
			br
			a(href=`/quizzes`) Browse Quizzes
			br
			br
			a(href=`/createquiz`) Create Quiz